{% extends "base.html" %}

{% block content %}
  <div>
    <h1>{{ todo_list.name }}</h1>
    <h2>Tasks</h2>
    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Due Date</th>
        </tr>
      </thead>
      <tbody>
        {% for item in todo_items %}
          <tr>
            <td>{{ item.task }}</td>
            <td>{{ item.due_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
