{% extends 'base.html' %}

{% block content %}
<main>
  <div>
    <h1>To-Do Lists</h1>
    <p><a href="{% url 'todos:todo_list_create' %}">Create a new list</a></p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for todo_list in todo_lists %}
        <tr>
          <td><a href="{% url 'todos:todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a></td>
        </tr>
        {% empty %}
        <tr>
          <td>No to-do lists found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}
